<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">including <strong>Qood Code</strong> warranty</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Enterprise Web Application</h4>
                    <p class="text-muted">
                      For such a big and complex application there is a need to write qood code that is composable, re-usable, maintainable, scalable and testable.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IT Architect and Consultant</h4>
                    <p class="text-muted">Consultancy in the field of modern and proven web technologies for the best ICT investments and implementations within your organization.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-object-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Embedded software</h4>
                    <p class="text-muted">Embedded software can control various devices and systems. It can turn hardware into a smarter device. For example controlling the lights at home.</p>
                </div>

            </div>
        </div>
    </section>
